<div class="profile">
  {{{BackButton}}}
  <div class="profile__inner">
    {{{ProfileAvatar}}}
    <form class="profile__form">
      {{{Email}}}
      {{{Login}}}
      {{{FirstName}}}
      {{{SecondName}}}
      {{{DisplayName}}}
      {{{Phone}}}
    </form>
    {{{Error}}}
    {{{Save}}}
  </div>
</div>
