<li class="chats-item">
    <div class="chats-item__avatar">
        {{!-- <img src={{src}} alt="user-avatar"> --}}
    </div>
    <div class="chats-item__inner">
        <p class="chats-item__name">{{name}}</p>
        <p class="chats-item__message">{{message}}</p>
    </div>
    <div class="chats-item__inner">
        <p class="chats-item__data">{{data}}</p>
        <div class="chats-item__count">
            {{count}}
        </div>
    </div>
</li>