<div class="profile">
  {{{BackButton}}}
  <div class="profile__inner">
    {{{ProfileAvatar}}}
    <form class="profile__form">
      {{{Email}}}
      {{{Login}}}
      {{{FirstName}}}
      {{{SecondName}}}
      {{{DisplayName}}}
      {{{Phone}}}
    </form>
    <ul class="profile__menu">
      <li class="profile__menu-item">
        {{{ChangeData}}}
      </li>
      <li class="profile__menu-item">
        {{{ChangePassword}}}
      </li>
      <li class="profile__menu-item">
        {{{Exit}}}
      </li>
    </ul>
  </div>
</div>
