<div class="chats">
  {{{ChatButton}}}
  {{{Search}}}
  {{{CreateChat}}}
  {{#if isError}}
    <div class="chats__error">
      При загрузке чатов произошла ошибка
    </div>
  {{else}}
    {{{ChatList}}}
  {{/if}}
  {{#if isShowCreateChatModal}}
    {{{MenuModalAddChatUser}}}
  {{/if}}
</div>
