<div class="signIn">
  <div class="signIn__inner">
    <h1 class="signIn__title">
      Вход
    </h1>
    <form class="signIn__form">
      {{{Login}}}
      {{{Password}}}
    </form>
    {{{Error}}}
    <div class="signIn__buttons">
      {{{Button}}}
      {{{Link}}}
    </div>
  </div>
</div>
