<div class="profile-field">
  <label id={{id}}>
    {{label}}
  </label>
  <input
    required
    type={{type}}
    for={{id}}
    name={{name}}
    value={{value}}
    disabled={{isDisabled}}
  />
</div>
