<div class="form-field">
  <input type={{type}} for={{id}} name={{name}} required />
  <label id={{id}}>
    {{label}}
  </label>
  {{#if error}}
    <span class="error">
      {{error}}
    </span>
  {{/if}}
</div>
