<div class="profile">
  {{{BackButton}}}
  <div class="profile__inner">
    {{{ProfileAvatar}}}
    <form class="profile__form">
      {{{OldPassword}}}
      {{{NewPassword}}}
      {{{PasswordTwo}}}
    </form>
    {{{Save}}}
  </div>
</div>
